# This will be passed to all mysql clients
[client]
port	=	PORT
socket	=	HOMEPATH/mysqld_sock
host	=	ix
#password	=	my_password

# The MySQL server
[mysqld]
port	=	PORT
socket	=	HOMEPATH/mysql-data/mysqld_sock
datadir	=	HOMEPATH/mysql-data
pid-file=	HOMEPATH/mysql-data/.pid
# default is to only bind localhost
# bind-address	=	0.0.0.0
# for all mysql versions
skip-innodb
# for mysql-5.5 and above
default-storage-engine=myisam
# for mysql-5.6 and above
default-tmp-storage-engine=myisam

# uncomment the following line for logging
#general-log
